*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: #fff;
  line-height: 1.6;
  height: 100vh;
  /*overflow: hidden;*/
}

.main-container {
  width: 100%;
  height: 100%;
  /*CSS Smooth Scroll 
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;*/
}

.main-header {
  z-index: 1;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(250, 250, 250, 0));
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 30px;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.menu .menu-item {
  margin-right: 5vw;
  position: relative;
  padding-bottom: 2px;
}

/* Logo */
.logo {
  display: block;
  width: 170px;
  height: auto;
  background: rgba(250, 250, 250, 0.7);
  align-items: center;
  border-radius: 2px;
}

.logo img {
  width: 100%;
  border-bottom: 1px solid black;
}

.navbar {
  display: flex;
  width: 100%;
  height: 60px;
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding-bottom: 2px;
  /*padding: 1rem;*/
  position: relative;
}

.navbar ul li a,
.menu .menu-item a {
  text-decoration: none;
  color: #f4f4f4;
}

/* Bottom line animation */
.menu .menu-item a::after,
.navbar ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: right center;
}
.menu .menu-item a:hover::after,
.navbar ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left center;
  transition-duration: 0.4s;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  /*scroll-snap-align:  center;*/
  position: relative;
}

section .section-footer {
  position: absolute;
  height: 25px;
  width: 100%;
  bottom: 0;
  background: rgba(255, 255, 255, 0.2);
}

section.simple {
  height: 100vh;
}

section h1 {
  font-size: 3rem;
}

section p {
  font-size: 1.5;
}

section#home {
  background: url("https://source.unsplash.com/bZZp1PmHI0E/1600x900") no-repeat
    center center/cover;
  background-attachment: fixed;
}

section#about {
  background: url("https://source.unsplash.com/VRxo0yY-gyM/1600x900") no-repeat
    center center/cover;
  background-attachment: fixed;
}

section#subjects {
  background: url("https://source.unsplash.com/bZZp1PmHI0E/1600x900") no-repeat
    center center/cover;
  background-attachment: fixed;
}
section#blog {
  background: url("https://source.unsplash.com/K2tdx2mFDHc/1600x900") no-repeat
    center center/cover;
  background-attachment: fixed;
}

/*Load Items onScroll*/
.reveal {
  opacity: 0;
  transition: all 0.7s ease-in-out;
}
.reveal.active {
  opacity: 1;
}

/*Search Bar*/
.search-main-container {
  width: 90%;
  /* max-width: 700px;*/
  margin: 30px auto;
}
.search-container {
  padding: 5vw;
  margin: 5vw;
}
.search-container #search-title {
  padding: 2vw;
  background: rgba(255, 255, 0, 0.2);
  backdrop-filter: blur(8px);
  color: rgba(242, 241, 241, 0.9);
  border-radius: 2px;
  letter-spacing: 3px;
}
#search {
  margin: 2vw 0;
  background: rgba(245, 245, 245, 0.6);
  backdrop-filter: blur(5px);
  color: #336;
}
input[type="text"] {
  width: 100%;
  padding: 0.7em 1.2em;
  border: 1px solid #aaa;
  outline-color: #ddd;
}
.blog {
  background: rgba(116, 116, 116, 0.4);
  backdrop-filter: blur(15px);
  border-radius: 2px;
  padding: 3vw;
  margin: 5vw;
}
.hidden {
  display: none;
}
